{% extends 'base.twig' %}

{# Set Page Title #}
{% block title %}{{ title }} - Help{% endblock %}

{# Set Navbar Theme #}
{% block nav %}
  {% include 'navbar.twig' with {'title': title, 'navbartheme': 'light'} %}
{% endblock %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row" style="padding-top: 70px;">
      <div id="markdown" class="col">
        {{ html | raw }}
      </div>
    </div>
  </div>
{% endblock %}