{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/index.css'/>
{% endblock %}

{% block body %}

    <div id = "backdrop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id= "content">
                        <h1>Sneaky Msg</h1>
                        <h3>The Most Secure Messenger</h3>
                        <hr>
                        <button class="btn btn-default btn-large"><i class="fas fa-envelope"></i> Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
