{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/index.css'/>
{% endblock %}

{% block body %}

    <div class="container">
        <div id = "backdrop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id= "content">
                            <h1>Sneaky Msg</h1>
                            <h3>The Most Secure Messenger</h3>
                            <hr>
                            <button class="btn btn-large pink"><i class="fa fa-user-plus"></i> Sign Up</button>
                            <button class="btn btn-large pink"><i class="fa fa-user"></i> Login </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
