{% extends 'base.twig' %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}{% endblock %}

{# View Body #}
{% block body %}
  <div class = "card sign-in-card">
    <form action="/login" method="post" class = "sign-in-form card-body">
      <h1 class="h5 text-center mb-4c ard-title">Sign In</h1>

      <div class="row md-form">
        <i class="fa fa-user-plus prefix grey-text"></i>
        <input type="text" name="username" id="defaultForm-email" class="form-control">
        <label for="defaultForm-email">Username</label>
      </div>

      <div class="row md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" name="password" id="defaultForm-pass" class="form-control">
        <label for="defaultForm-pass">Password</label>
      </div>

      <div class="text-center">
        <button class="btn pink">Go</button>
      </div>
    </form>
  </div>
{% endblock %}
