{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/messaging.css'/>
{% endblock %}

{% block body %}
    <div class="sidenav" id="channel-list">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Name1
                <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Name2
                <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Name3
                <span class="badge badge-primary badge-pill">1</span>
            </li>
        </ul>
    </div>
    <div id="message-pane">
        <div class="navbar navbar-expand-lg navbar-dark bg-white" id="info-bar">
            <strong>Conversation with USER</strong>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <a id="conversation-settings-label-text" class="nav-link" href="">Conversation Settings</a>
                <i class="fa fa-gears" aria-hidden="true"></i>
            </div>
        </div>
        <div id="conversation">

        </div>
        <div id="message-input">
            <div class="md-form form-sm">
                <input type="text" id="form1" class="form-control">
                <label for="form1"></label>
            </div>
        </div>
    </div>
{% endblock %}
