{% extends 'base.twig' %}

{# Set Page Title #}
{% block title %}{{ title }} - Signup{% endblock %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
  <link rel='stylesheet' href='/stylesheets/signup.css'/>
{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}
  <script type='text/javascript' src='/js/signup.js'></script>
{% endblock %}

{# View Body #}
{% block body %}
  <div class="col-form-label card sign-up-card pt-0">
    {% if error %}
      <div class="card red text-center z-depth-2">
        <div class="card-body">
          <p class="white-text mb-0">{{ error }}</p>
        </div>
      </div>
    {% endif %}
    <form action="/signup" onsubmit="return validateForm()" method="post" class="card-body">
      <h1 class="h5 text-center mb-4c ard-title">Sign Up</h1>
      <!-- Username Field -->
      <div class="row md-form">
        <i class="fa fa-user-plus prefix grey-text"></i>
        <input type="text" name="username" id="username" class="form-control" maxLength="32" required>
        <label class="label-validation" for="username" data-error="Username must be between 6 and 32 characters long." data-success="Username good.">Username</label>
      </div>
      <!-- Email Field -->
      <div class="row md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" name="email" id="email" class="form-control" maxLength="255" required>
        <label class="label-validation" for="email" data-error="Email must be no more than 255 characters long." data-success="Email good.">Email</label>
      </div>
      <!-- Password Field-->
      <div class="row md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" name="password" id="password" class="form-control" maxLength="64" required>
        <label class="label-validation" id="password-label" for="password" data-error="Password must be between 6 and 64 characters long." data-success="Password good.">Password</label>
      </div>
      <!-- Password Confirm Field -->
      <div class="row md-form">
        <i class="fa fa-unlock prefix grey-text"></i>
        <input type="password" name="password-confirm" id="password-confirm" class="form-control" maxLength="64" required>
        <label class="label-validation" for="password-confirm" data-error="Passwords do not match." data-success="Passwords match.">Confirm Password</label>
      </div>
      <div class="text-center">
        <button class="btn bg-blue-grey"><i class="fa fa-user-plus"></i> Get Started</button>
      </div>
      <div class="modal-footer border-0">
        <div class="options font-weight-light">
          <p class="m-0">Already a member? <a href="/login">Sign In</a></p>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
