
#backdrop
  background-image: url("../../resources/woman-typing-writing-windows.jpg")
  background-size: cover
  background-position: center
  position: fixed
  top: 64px
  left: 0
  height: 100%
  width: 100%