.sidenav
  height: 100%
  position: fixed
  z-index: 1
  top: 0
  left: 0
  padding-left: 0
  padding-right: 0
  width: 20%
  overflow-x: hidden
  padding-top: 64px
  border-right: 1px solid rgba(0,0,0,.125)

#message-pane
  padding-top: 64px

.list-group-item
  border: none

#message-input
  width: 100%
